body{
    background-color:  rgb(20, 18, 30);
    overflow: hidden;
}

.light-1{
    top: 0;
    left: 0;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
    pointer-events: none; 
    /* background: radial-gradient(circle at center,rgba(120, 60, 160, 40) 0%, rgba(0,0,0,0) 70%); */
}

@keyframes ambilightSoft {
    0% {
        /* transform: translate3d(0px, 0px, 0); */
        filter: blur(8px);
        width: 800px;
        height: 800px;
    }

    25% {
        /* transform: translate3d(0.5px, -5px, 0); */
        filter: blur(9px);
        margin-left: 25px;
        margin-top: 30px;
        width: 750px;
        height: 750px;
    }

    50% {
        /* transform: translate3d(-0.5px, 5px, 0); */
        filter: blur(10px);
        opacity: 0.45;
    }

    75% {
        /* transform: translate3d(0.5px, 5px, 0); */
        filter: blur(9px);
    }

    100% {
        /* transform: translate3d(0px, 0px, 0); */
        filter: blur(8px);
        width: 800px;
        height: 800px;
    }
}

.ambilight {
    position: absolute;
    animation: ambilightSoft 7.5s ease-in-out infinite;
    will-change: transform, filter, background;
    overflow: hidden;
    pointer-events: none;
}

    /* position: absolute;
    border-radius: 50%;
    mix-blend-mode: screen;
    filter: blur(40px);
    opacity: 0.55;
    will-change: transform; */